body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5 {
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}


p{
  color:#8f8f8f
}

/* heading */
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;

}
/* containers */

.container-fluid {
  padding: 7% 15%;
}

/* sections */
.color-section{
  background-color: #ff4c68;
  color: white;
}
.white-section{
  background-color: white;
}
/* navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

/* buttons-Download */
.download-button {
  margin: 5% 3% 5% 0;
}
/* title section */
#title {
  position: relative;
  text-align: left;
}
#title .container-fluid{
  padding: 3% 15% 7%;

}
/* title-image */
.title-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 20%;
}

/* Features */
#features {
  position: relative;
}





.features-title{
  font-size:1.5rem;
}
.features-icons {
  display: block;
  color: #ef8172;

  margin-bottom: 1rem;
}

.features-icons:hover {
  color: #ff4c68;
}

.features-colums {
  padding: 5%;
}

/* testimonial */
#testimonials {
  background-color: #ef8172;
  position: relative;
}
.testimonial-text{
  font-size:3rem;
  line-height: 1.5;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}



/* press */
#press {

  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* cards */
#pricing {
  padding: 100px;

}

.price-text{
  font-size:3rem;
  line-height: 1.5;
}
.card-space {
  padding: 3% 2%;
}


.hidden {
  visibility: hidden;
}

/* Call to Action */
/* cta section */
#cta button {
  font-weight: 500;
}

/* footer */
#footer {
  background-color: #fff;


}

.footer-icons {
  margin: 20px 10px;
}

footer p {
  font-weight: 500;
}




/* media querys */
@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0deg);
  }
#title .container-fluid{
  padding: 5% 2%;
}
.container-fluid{
  padding: 5% 2%;
}
#pricing{
  padding: 100px 8%;
}
  #title {
    text-align: center;
  }
  .card-space{
    padding: 2% 4%;
  }
  .navbar-brand{
    font-size: 1.5rem;
  }
  .big-heading{
    font-size: 2rem;
  }
  .testimonial-text{
      font-size: 1.5rem;
  }
  .section-heading{
    font-size: 1.8rem;
  }
  .price-text{
    font-size: 1.5rem;
  }
  .download-button{
    width:40%;
    padding: 2%;
    font-weight: normal;
    font-size: 1rem;

  }
}
